{{!-- Let's go double burger  --}}
{{!-- I wish I had a double burger --}}


<div class="container">
    <div class="col center-align">
        <h1>BURGER TIME</h1>
        <img src="assets/img/cloudy.jpeg">

<div class="buttonHolder">
<form class="create-form">
        <div class="form-group">
            <label for="name"></label>
            <textarea id="burger" name="burger_name" rows="2" cols="40" placeholder="Add A burger"></textarea>
        </div>
        <button type="submit" id="submit">Submit Burger</button>
    </form>
</div>



        <div class="row">
            <div class="col-md-5 col-left" id="enter-burger">
                <div class="panel-heading" id="leftside">
                    <p><h3>Eat a Burger</h3></p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}">Devour<span class="fa fa-usd"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>


            <div class="col-md-6 col-right" id="devoured-burger">
                <div class="panel-heading" id="rightside">
                    <p><h3>Eaten Burgers<h3></p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

    </div>

    {{!-- <form class="create-form">
        <div class="form-group">
            <label for="name"></label>
            <textarea id="burger" name="burger_name" rows="2" cols="40" placeholder="Add A burger"></textarea>
        </div>
        <button type="submit" id="submit">Submit Burger</button>
    </form> --}}


</div>

<script>
    $(".create-form").on("submit", function (event) {
        event.preventDefault();

        const newBurger = $("#burger").val().trim();
        console.log(newBurger)
        const newBurgerData = {
            burger_name: newBurger
        };


        $.ajax("/", {
            type: "POST",
            data: newBurgerData,

        }).then(function () {
            console.log("Added a burger");
            location.reload();
        });
    });

    $(".eatburger").on("click", function (event) {
        event.preventDefault();

        var id = $(this).attr("data-id");

        console.log("id: ", id)

        $.ajax("/" + id, {
            type: "PUT",

        }).then(function () {
            console.log("Burger Eaten");
            location.reload();
        });
    });
</script>